/nbproject/
.idea

/public/images/content/dynamisch/exercises/*
!/public/images/content/dynamisch/exercises
/public/images/content/dynamisch/devices/*
!/public/images/content/dynamisch/devices
/public/tmp/*
!/public/tmp
/phpuml
/api
/trainingsmanager.sql
/test.php
/test.html
/class.puml
/class.png
/.zfproject.xml
/class.eps
/class.svg
/class.uml
/querys
/docs
/data/*.log
/data/tmp/*
!/data/tmp
/application/configs/application.ini
