<phpunit bootstrap="./bootstrap.php">
<!--<phpunit bootstrap="./TestHelper.php">-->
<!--<phpunit bootstrap="vendor/autoload.php">-->
    <testsuite name="Zend Framework - Testsuite">
        <directory>./</directory>
    </testsuite>

    <filter>
        <whitelist>
            <!--<directory suffix=".php">../library/Zend</directory>-->
            <directory suffix=".php">.</directory>
        </whitelist>
    </filter>
</phpunit>
