/* <![CDATA[ */
@charset "UTF-8";

:root {
    /*--el-bg-color: #33FF33;*/
    --el-bg-color: #00008b;
    /*--el-text-color: #8FBC8F;*/
    /*--el-text-color: #006600;*/
    --el-text-color: #FFFFFF;
    /*--el-border-color: #33CC33;*/
    --el-border-color: #8FBC8F;
}

:root .delete {
    color: #FF0000;
}

:root .add {
    color: #33CC33;
}

*  {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
    margin: 0;
}

#mobile {
    display: none;
}

@media (min-width: 768px){
    body, html {
        margin: 0;
        overflow: hidden;
        height:100%;
    }

    #left {
        position: absolute;
        top: 70px;
        bottom: 0;
        left: 0;
        /*width: 75%;*/
        overflow-y: scroll;
    }

    #right {
        position: absolute;
        top: 70px;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        /*width: 25%;*/
    }
}

@media (max-width: 767px) {
    #mobile {
        display: block;
    }
}

#single {
    /*background-color: #FC6E51;*/
    /*text-align: center;*/
    /*height:100%;*/
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;
}

#left {
    /*background-color: #FC6E51;*/
    /*text-align: center;*/
    /*height:100%;*/
    max-height: calc(100% - 100px);
}

#right {
    /*background-color: #4FC1E9;*/
    /*text-align: center;*/
    /*height:100%;*/
    max-height: calc(100% - 100px);
}

header	{
	position: relative; 
	width: 980px; 
	height: 259px;
}

input {
    padding: 2px;
    border-radius: 5px;
    /*border: 1px solid dodgerblue;*/
    border: 1px solid var(--el-bg-color);
}

footer	{
    padding: 20px;
    clear: both;
    position: relative;
    background-color: transparent;
}

footer p	{	
	font-size: 12px;
    margin: 10px 0;
}

footer h3   {
}

footer #social_media_container  {
	position: relative;
	overflow: hidden;
	height: 35px;
	margin-top: 10px;
}

footer #social_media_container #quicklink_facebook  {
    position: absolute;
    top: 0;
    left: 0;
}

footer #social_media_container #quicklink_github  {
    position: absolute;
    top: 0;
    left: 40px;
}

footer #social_media_container #quicklink_xing  {
    position: absolute;
    top: 0;
    left: 80px;
}

footer #social_media_container #quicklink_googleplus  {
    position: absolute;
    top: 0;
    left: 120px;
}

footer #social_media_container #quicklink_feeds  {
    position: absolute;
    top: 0;
    left: 160px;
}

footer #second_navi {
	position: absolute;
	top: 20px;
	right: 4%;
}

code    {
	white-space: pre-wrap;
	font-family: courier-new;
}

pre {
	white-space: pre-wrap;
	font-family: courier-new;
}

.preview-picture   {
	float: left;
	display: inline;
	width: 60%;
	margin-right: 10px;
    margin-bottom: 10px;
}


.thumb-delete   {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px; 
    background-image: url('/images/content/statisch/grafiken/delete.png');
    background-repeat: no-repeat;
}

.thumb {
     position: relative;
     margin: 5px;
     float: left;
     display: inline;
}

.fix-bild-200   {
    float: left;
    display: inline;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;	
}

/*#content	{*/
    /*padding: 20px;*/
    /*float: left; */
    /*display: inline;*/
    /*width: 740px;*/
/*}*/

.container    {
    background-color: #FFFFFF;
}

.clear-fix	{
	clear: both;
	height: 0;
	visibility: hidden;
	line-height: 0;
        display: block;
}

.container_box	{
	margin: 10px 4%;
}

.fixed_bar  {
	position: relative;
    padding-bottom: 0px;
}

.fixed  {
	position: fixed;
	top: 0;
	z-index: 5;
	margin: 0 -29px;
	padding: 20px 28px 25px;
}

.ignore_overflow {
	overflow: visible !important;
}

#sperre	{
	position: fixed;
	text-align: left;
	font-size: 12px;
	top: 0;
	left: 0;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 1000;
}

#dummy_container	{
	position: fixed;
	text-align: left;
	top: -5000px;
	left: -5000px;
	display: none;
}

.message 	{
    padding: 10px;
    padding-right: 30px;
    background-color: white;
/*     position: absolute; */
    display: none;
    top: 0;
    left: 0;
    z-index: 1002;
	width: auto;
/* 	max-width: 33%; */
	position: fixed;
	font-size: 12px;
    /*border: 1px solid dodgerblue;*/
    border: 1px solid var(--el-bg-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}

.message p	{
	text-align: left;
	font-weight: bold;
	font-size: 12px;
}

.message img	{
	clear: both;
	float: left;
	display: inline;
	margin-right: 10px;
	margin-bottom: 10px;
}

.message .container {
	float: left;
	display: inline;
}

.button {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.input {
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.input *    {
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

.button_close 	{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 30px;
	height: 30px;
	background-image: url(/images/content/statisch/grafiken/close_button.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.confirm_container 	{
	clear: both;
	display: inline-block;
	width: 100%;
	margin: 15px auto;
	text-align: center;
}

.ok_container 	{
	clear: both;
	display: table;
	width: 100%;
	margin: 15px auto;
	text-align: center;
}

.button_ok 	{
	display: inline-block;
	padding: 5px 20px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	margin: 0px auto;
}

.button_cancel 	{
	display: inline-block;
	padding: 5px 20px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	width: auto;
}

/****************************************************************/
/******************			 SITEMAP			*****************/
/****************************************************************/
#sitemap	{
	margin: 20px 4%;
}

#sitemap li {
	margin-top: 15px;
}

#sitemap li ul li	{
	margin-top: 5px;
}

#loader {
	position: absolute;
	top: -5000px;
	left: -5000px;
	width: 31px;
	height: 31px;
	display: none;
}

.container_messages {
	margin: 20px 0;
}
/******************************************************************************/
/****************       Drag & Drop Upload Target       ***********************/
/******************************************************************************/


/******************************************************************************/
/****************               CAD CMS                 ***********************/
/******************************************************************************/

.cad-cms-edit-image {
	position: absolute;
	top: 2px;
	right: 2px;
	display: none;
}

#cad-cms-editor {
    position: absolute;
    width: 499px;
    top: -5000px;
    left: -5000px;
    /*border: 1px solid dodgerblue;*/
    border: 1px solid var(--el-bg-color);
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
}

#cad-cms-editor #cad-cms-textfeld    {
	padding: 5px;
	/*width: 489px;*/
	width: 100%;
	height: 200px;
}

#cad-cms-editor .cad-cms-leiste {
	position: relative;
	height: 38px;
	width: 499px;
	background-image: url('/images/content/statisch/cms/editor_bg.png');
	background-repeat: no-repeat;
	cursor: move;
}

#cad-cms-editor .cad-cms-button {
/* 	position: absolute; */
	width: 42px;
	height: 30px;
    margin-top: 4px;
    margin-left: 2px;
	float: left;
	display: inline;
	background-position: left -60px;
	border: 0 none;
    background-repeat: no-repeat;
}

#cad-cms-editor .cad-cms-button-hover   {
    background-position: left -90px !important;
}

#cad-cms-editor .cad-cms-button-active   {
    background-position: left -30px !important;
}

#cad-cms-editor #cad-cms-button-save   {
    margin-left: 10px;
    background-image: url('/images/content/statisch/cms/icons_save.png');
}

#cad-cms-editor #cad-cms-button-bold   {
	margin-left: 10px;
    background-image: url('/images/content/statisch/cms/icons_bold.png');
}

#cad-cms-editor #cad-cms-button-italic   {
    background-image: url('/images/content/statisch/cms/icons_italic.png');
}

#cad-cms-editor #cad-cms-button-underline   {
    background-image: url('/images/content/statisch/cms/icons_underline.png');
}

#cad-cms-editor #cad-cms-button-left   {
    background-image: url('/images/content/statisch/cms/icons_left.png');
}

#cad-cms-editor #cad-cms-button-center   {
    background-image: url('/images/content/statisch/cms/icons_center.png');
}

#cad-cms-editor #cad-cms-button-right   {
    background-image: url('/images/content/statisch/cms/icons_right.png');
}

#cad-cms-editor #cad-cms-button-block   {
    background-image: url('/images/content/statisch/cms/icons_block.png');
}

#cad-cms-editor #cad-cms-button-help   {
	float: right;
    background-image: url('/images/content/statisch/cms/icons_help.png');
    cursor: help;
}

#cad-cms-editor #cad-cms-button-close   {
    float: right;
    margin-right: 10px;
    background-image: url('/images/content/statisch/cms/icons_close.png');
}

#cad-cms-editor #cad-cms-button-font-size   {
    margin-left: 10px;
    background-image: url('/images/content/statisch/cms/icons_font_size.png');
}

#cad-cms-editor #cad-cms-button-font-color   {
    background-image: url('/images/content/statisch/cms/icons_font_color.png');
}

#cad-cms-editor #cad-cms-button-background-color   {
    background-image: url('/images/content/statisch/cms/icons_background_color.png');
}

#cad-cms-editor #cad-cms-button-ordered-list   {
    background-image: url('/images/content/statisch/cms/icons_ordered_list.png');
}

#cad-cms-editor #cad-cms-button-unordered-list   {
    background-image: url('/images/content/statisch/cms/icons_unordered_list.png');
}

#cad-cms-editor #cad-cms-button-image   {
    background-image: url('/images/content/statisch/cms/icons_image.png');
}

#cad-cms-editor #cad-cms-button-url   {
    background-image: url('/images/content/statisch/cms/icons_url.png');
}

#cad-cms-editor #cad-cms-button-insert-tab   {
    background-image: url('/images/content/statisch/cms/icons_insert_tab.png');
}

#cad-cms-editor #cad-cms-button-delete-tab   {
    background-image: url('/images/content/statisch/cms/icons_delete_tab.png');
}

/* klasse zum aufblähen leerer edit felder, um sie auch klickbar zu machen */
.cad-cms-dummy-blaeher  {
	padding: 20px;
}

#upload_target  {
	height: 0;
	width: 0;
	display: none;
	margin: 0;
	padding: 0;
}

.cad-cms-image-dialog-marked    {
	outline: 2px solid var(--el-bg-color);
}

.ui-draggable-dragging  {
    cursor: move;
}

span.editable {
    margin-left: 20px;
    border-bottom: 1px dotted var(--el-border-color);
    display: inline-block;
    min-width: 200px;
    /*width: 100%;*/
    cursor: text;
}

/******************************************************************************/
/****************             Social Media              ***********************/
/******************************************************************************/
#social-media-shares    {
	display: inline-block;
}
#social-media-shares li
{
	list-style-type: none;
}

#social-media-shares #count-container   {
	position: relative;
	display: inline-block;
}

#social-media-shares #count-container ul {
    width: 200px;
	display: none;
    position: absolute;
    z-index: 5;
}

#social-media-shares #count-container a, 
#social-media-shares #count-container span  {
	display: inline-block;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

#social-media-shares #count-container a {
    text-decoration: none;
}

#social-media-shares #count-container span
{
	width: 55px;
	text-align: right;
    display: inline-block;
}

#social-media-shares #summe-count {
    padding-left: 40px !important;
    display: inline-block;
    height: 30px;
}

#social-media-shares #count-container ul li
{
    margin-left: 0;
}

#social-media-shares #count-container ul li a
{
    width: 100px;
    margin-left: 0;
}
/******************************************************************************/
/****************                  Feed                 ***********************/
/******************************************************************************/
.image-feed {
	width: 200px;
	float: left;
	display: inline;
	margin-right: 5px;
	margin-bottom: 5px;
}
#login-container    {
    position: absolute;
    right: 4%;
    top: 20px;
	
}

#login-container a,
#login-container span,
#login-container #logout-button {
/* 	float: left; */
/* 	display: inline; */
	margin-left: 10px;
    font-size: 1em;
    font-family: "courier new";
    font-weight: bold;
}

#login-container a  {
    text-decoration: none;
}

.delete {
    position: absolute !important;
    height: 23px;
    width: 23px;
    right: -7px !important;
    top: 12px !important;
    /*color: dodgerblue;*/
    /*color: #2e6da4;*/
    color: var(--el-bg-color);
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    /*border: 1px solid var(--el-border-color);*/
    /*-moz-border-radius: 11px;*/
    /*-webkit-border-radius: 11px;*/
    /*border-radius: 11px;*/
}

.add {
    /*position: absolute;*/
    float: left;
    height: 23px;
    width: 23px;
    left: 11px !important;
    top: 11px !important;
    /*color: dodgerblue;*/
    /*color: #2e6da4;*/
    color: var(--el-bg-color);
    font-size: 22px;
    background-color: white;
    cursor: pointer;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 1px solid var(--el-border-color);
}

.edit-button {
	/*position: absolute ;*/
	/*top: 5px;*/
	/*right: 55px;*/
    /*font-size: 0;*/
    /*color: transparent;*/
    /*width: 19px;*/
    /*height: 19px;*/
    /*background-image: url('/images/content/statisch/grafiken/edit.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top left;*/
}

.delete-button {
    /*position: absolute;*/
    /*top: 5px;*/
    /*right: 30px;*/
    /*font-size: 0;*/
    /*color: transparent;*/
    /*width: 19px;*/
    /*height: 19px;*/
    /*background-image: url('/images/content/statisch/grafiken/delete.png');*/
    /*background-repeat: no-repeat;*/
    /*background-position: top left;*/
}

.proposal {
    cursor: pointer;
}

.proposal:hover {
    /*background-color: dodgerblue;*/
    background-color: var(--el-bg-color);
    color: white;
}

#exercise_proposals,
.proposals {
    position: absolute;
    top: -5000px;
    left: -5000px;
    background-color: white;
    padding: 20px;
    border-radius: 5px 5px 5px;
    border: 1px solid black;
    -webkit-box-shadow: black 5px;
    -moz-box-shadow: black 5px;
    box-shadow: black 5px;
}

.exercise-option {
    /*width: 50px;*/
    /*float: left;*/
    /*padding: 2px;*/
    /*margin-top: 5px;*/
}

#training {
    overflow: hidden;
}

.muscle {
    position: relative;
}

.muscles-in-muscle-group {
    /*margin-left: 20px;*/
    /*font-size: 80%;*/
}

.deactivated * {
    color: grey;
}

.device .device-option {
    /*margin-left: 20px;*/
    /*margin-top: 5px;*/
    /*border-bottom: 1px dotted var(--el-border-color);*/
    /*font-size: 12px;*/
    /*width: 300px;*/
    /*height: 20px*/
}

.training-plan {
    background-color: gainsboro;
    border-radius: 5px;
    border-color: lightgray;
    margin-top: 25px;
    padding: 10px;
    font-size: 14px;
    color: darkslategray;
    position: relative;
}

.training-plan .exercise-options label,
.training-plan .device-options label {
    /*width: 100px;*/
    float: left;
    clear: left;
    margin-top: 7px;
}

.training-plan .exercise-options .exercise-option,
.training-plan .device-options .device-option {
    /*width: 44px;*/
    float: left;
    margin-top: 7px;
}

.training-plan li {
    list-style: none;
}

.training-plan .exercise {
    border:  1px solid var(--el-border-color);
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
}

button.save {
    margin-top: 25px;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    background-color: var(--el-bg-color) !important;
    color: var(--el-text-color) !important;
    font-weight: bold !important;
}

.btn-primary {
    background-color: var(--el-bg-color) !important;
    border-color: var(--el-border-color) !important;
    color: var(--el-text-color) !important;
    font-weight: bold !important;
}

.proposal:hover {
    background-color: var(--el-bg-color);
    color: var(--el-text-color);
}

.option-input {
    margin-right: 15px;
}

.form-group .dropdown {
    float: right;
}

.form-group label {
    margin-right: 15px;
}

input.option-input {
    /*float: left;*/
    /*display: inline;*/
    width: 100px;
    text-align: right;
}

.navbar-brand {
    background-color: var(--el-bg-color);
    color: var(--el-text-color);
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.exercises-overview .exercise {
    margin: 15px;
}

.exercises-overview .exercise img {
    margin-right: 15px;
}

.carousel-control {
    width: 5%;
}

.carousel-inner {
    overflow: visible;
}

.positive {
    background-color: #008000 !important;
    color: white;
}

.negative {
    background-color: red !important;
    color: white;
}

.current {
    background-color: #0000ff !important;
    color: white;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 31px;
    height: 31px;
    background: url('/images/content/statisch/grafiken/ajax-loader_black_trans.gif');
}

.spinner:before {
    padding: 25px;
}

.detail-options {
    padding: 5px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.detail-options div {
    margin-left: 10px;
    cursor: pointer;
}

#left .item,
#left .exercise,
div span.device {
    cursor: pointer;
}

.selected {
    font-weight: bold;
}

.item-content {
    position: relative;
    display: none;
}

/* ]]> */
