@CHARSET "UTF-8";

header  {
    background-image: -ms-linear-gradient(top, #666666 25%, #333333 75%);
}

footer  {
    background-image: -ms-radial-gradient(top, circle farthest-corner, #555555 0%, #444444 25%, #333333 75%);
}

#sperre {
    filter: alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity:0.7;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

#message    {
    opacity: 0.9;
    -moz-opacity:0.9;
    filter:alpha(opacity=90);
}

#progress,
#work_progress,
#message    {
                box-shadow:0px 0px 10px #FFFFFF;
                -moz-box-shadow: 0 0 10px #FFFFFF;
                -webkit-box-shadow: 0 0 10px #FFFFFF;
            }