@charset "UTF-8";

*  {
  margin: 0;
  padding: 0;
  border: 0;
  color: #FEFEFE;
  font-family: "courier new";
  font-family: Arial, Helvetica, sans-serif;
}

body    {
    background-color: #333333;
}

ul li
{
    margin-left: 20px;
}

input,
textarea    {
    padding: 2px;
    color: #FEFEFE;
    color: #333333;
    background-color: #333333;
    background-color: #FEFEFE;
    border-top: 1px solid #111111;
    border-left: 1px solid #111111;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999; 
}

input[type=submit],
input[type=button],
input[type=img],
input[type=reset]   {
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #111111;
    border-bottom: 1px solid #111111; 
}

input[type=submit]:active,
input[type=button]:active,
input[type=img]:active,
input[type=reset]:active    {
    border-top: 1px solid #111111;
    border-left: 1px solid #111111;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999; 
}

header  {
    position: relative; 
    background-image: url('/images/content/statisch/layout/header_bg.png');
    background-repeat: repeat-x; 
    background-color: #333333;
    border-bottom: 1px solid #111111;
    width: 100%; 
    height: 140px;
}

header h1 {
	font-family: courier;
	color: #CCCCCC;
	padding-top: 50px;
	margin-left: 4%;
	text-shadow: 3px 3px 5px #000000;
}

footer  {
    position: relative;
    padding: 2% 4%;
    background-color: #333333;
    border-top: 1px solid #555555;
}

footer p    {   
    color: #CCCCCC;
    font-size: 12px;
    margin: 5px 4%;
}

.voll   {
    width: 100%;
}

.drittel    {
    width: 25%; 
}

.halb   {
    width: 45%;
}

#wrapper    {
}

.fix-bild-200   {
    float: left;
    display: inline;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;   
}

.main_kategorie {
    width: 95.9%;
    padding: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px;
/*     box-shadow: 5px 5px 5px #121212; */
    background-color: #FFFFFF;
    height: auto;
    min-height: 100px;
}

.main_kategorie *   {
    text-align: justify;
    color: #333333;
    font-size: 12px;
}

.main_kategorie h2  {
	font-size: 14px;
}

.main_kategorie p   {
	margin-top: 15px;
    font-size: 12px;
}

.container  {
	position: relative;
    padding: 0 4%;
/*     border-top: 1px solid #555555; */
    border-bottom: 1px solid #111111;
}

.vorschaubild   {
    float: left;
    display: inline;
    width: 60%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ueberschrift   {
    font-weight: bold;
    font-size: 16px;
    
}

.name   {
    font-weight: bold;
    margin-top: 15px;
    font-size: 16px;
    
}

.status-name ,
.sprache-name   {
    margin-top: 5px;
    font-size: 14px;
}

.beschreibung-ueberschrift   {
    margin-top: 15px;
    font-size: 14px;
    
}

.beschreibung   {
    margin-top: 5px;
    font-size: 12px;
    text-align: justify;
    
}

.kurzbeschreibung-ueberschrift{
    margin-top: 15px;
    font-size: 14px;
    
}

.kurzbeschreibung   {
    margin-top: 15px;
    font-size: 12px;
    text-align: justify;
    
}

.kurzbeschreibung .vorschaubild {
    width: 50%;
}

.miniaturbild-delete   {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    right: 2px; 
    background-image: url('/images/content/statisch/grafiken/delete.png');
    background-repeat: no-repeat;
}

.vorschaubild-add-new {
     position: relative;
     margin: 5px;
     float: left;
     display: inline;
}

.fix-bild-200   {
    float: left;
    display: inline;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 200px;   
}

.container  {
    padding: 2%;
}

.clearfix   {
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.container_box  {
    margin: 10px 4%;
}

#sperre {
    position: fixed;
    text-align: left;
    font-size: 12px;
    top: 0;
    left: 0;
    background-color: #000000;
    display: none;
    height: 100%;
    width: 100%;
/*     filter: alpha(opacity=70); */
/*     opacity: 0.7; */
/*     -moz-opacity:0.7; */
/*     zoom:1;  */
/*     filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70); */
    z-index: 1000;
}

#dummy_container    {
    position: fixed;
    text-align: left;
    top: -5000px;
    left: -5000px;
    background-color: #FFFFFF;
    display: none;
}

#message    {
    display: none;
    width: auto;
    max-width: 33%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    padding-right: 30px;
    background-color: #FFFFFF;
    border: 1px solid #666666;

    font-size: 12px;
    color: #333333;
    z-index: 9999;
/*     opacity: 0.9; */
/*     -moz-opacity:0.9; */
/*     filter:alpha(opacity=90); */
}

#message p  {
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    color: #666666;
}

#message img    {
    clear: both;
    float: left;
    display: inline;
    margin-right: 10px;
    margin-bottom: 10px;
}

#message .container {
    float: left;
    display: inline;
}

.button_close   {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 30px;
    height: 30px;
    background-image: url(/images/content/statisch/layout/close_button.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.confirm_container  {
    clear: both;
    display: inline-block;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.ok_container   {
    clear: both;
    display: inline;
    display: table;
    width: 100%;
    margin: 15px auto;
    text-align: center;
}

.button_ok  {
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    margin: 0px auto;
}

.button_cancel  {
    display: inline-block;
    padding: 5px 20px;
    margin-left: 10px;
    padding: 5px 20px;
    border: 1px solid #666666;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    width: auto;
}

#second_navi {
	position: absolute;
	top: 5px;
	right: 4%;
	color: #CCCCCC;
}
/****************************************************************/
/******************       Social Media          *****************/
/****************************************************************/
#social_media_container {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	height: 35px;
}
/****************************************************************/
/******************          SITEMAP            *****************/
/****************************************************************/
#sitemap    {
    margin: 20px 4%;
}

#sitemap li {
    margin-top: 15px;
}

#sitemap li ul li   {
    margin-top: 5px;
}

/****************************************************************/
/******************          Navigation         *****************/
/****************************************************************/
#navi   {
    padding: 15px 4%;
    border-top: 1px solid #555555;
}

#navi li    {
    list-style: none;
    padding: 10px 2%;
    margin: 0;
    margin-top: 15px;
    background-color: #444444;
    background-image: url('/images/content/statisch/layout/button_bg.png');
    background-repeat: repeat-x;
    border-bottom: 1px solid #555555;
    outline: 1px solid #111111;
    width: 95.9%;
}

#navi li a  {
    display: block;
    text-decoration: none;
}

#navi li.aktiv a    {
    color: #FFFFFF;
    text-decoration: underline;
}

#navi li:active,
#navi li a:active   {
	background-image: none;
}

/****************************************************************/
/******************         Kontaktformular     *****************/
/****************************************************************/

#dummy_container    {
    padding: 10px;
}

#dummy_container h3 {
    color: #333333;
}

#kontakt_container input,
#kontakt_container textarea {
    padding: 2px;
    margin: 5px;
    border: 1px solid #666666;
/*     border-radius: 2px 2px 2px; */
/*     box-shadow:2px 2px 10px gray inset; */
    color: #333333;
    font-size: 12px;
    font-weight: normal;
    background-color: #FFFFFF;
}

#dummy_container h3 {
    margin-right: 30px;
/*  margin-top: 30px; */
}

#kontakt_container input.pflichtfeld,
#kontakt_container textarea.pflichtfeld {
    color: #999999;
    font-weight: bold;
}

#kontakt_container .button  {
    margin: 5px;
    padding: 2px;
    font-size: 12px;
    color: #333333;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
/*     border-radius: 2px 2px 2px; */
/*     box-shadow:2px 2px 10px gray inset; */
    cursor: pointer;
}

#kontakt_container .button:active   {
    border-top: 1px solid #333333;
    border-left: 1px solid #333333;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

#kontakt_container textarea {
    width: 295px;
    height: 175px;
}
